// 輪播圖圖片
body {
  background: rgb(209, 179, 145);
}

.container {
  background: #f1f1f1;
}

.carousel-item img {
  height: 600px;
  // 元素適應：自動縮放
  object-fit: cover;
}

.card-img {
  height: 300px !important;
  width: 1100px; 
  object-fit: cover;
}

// 卡片、圖片
.card img {
  height: 600px;
  object-fit: cover;
}